.btn {
  background-color: #fff;
  border: 1px solid #cbd7e0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  &.active {
    background-color: #318bd4;
    color: #fff;
    border: transparent;
  }
}

.btnNav {
  background-color: #fff;
  border: 1px solid #cbd7e0;
  width: 60px;
  height: 30px;
  padding: 0;
  margin: 0;
  color: #318bd4;
}
