.timerContainer {
  width: 100%;
  height: 100px;
  background-color: #ecf5f9;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.bar {
  background-color: #2e86c1;
  height: 30px;
}

.timer {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 15px;
  text-align: left;
}

.toggleTimer {
  font-size: 16px;
  color: #256fa0;
  background-color: #fff;
  border: 1px solid #256fa0;
  margin: 10px;
  width: 50px;
}
